# Dependencies
node_modules

# Build
dist
build
out

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Testing
coverage

# Editor
*.local
.vscode/*
!.vscode/extensions.json

# Platform
.platform
